<div class="row full-row">
  <div class="col s3 full-height">
    <sd-notebook-list style="padding: 0;" (selectedNotebook)="selectedNotebook($event)"></sd-notebook-list>
  </div>
  <div class="col s3 full-height">
    <sd-note-list style="padding: 0;" [notebook]="notebook" (editingNote)="editingNote($event)" (selectedNote)="selectedNote($event)"></sd-note-list>
  </div>
  <div class="col s6 full-height">
    <sd-note-detail [editing]="editing" [note]="note"></sd-note-detail>
  </div>
</div>
