h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.full-height {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.full-row {
  height: 98%;
  overflow: hidden;
}
