<div *ngIf="!editingNote" (click)="editNote()">
  <h2>
    {{ note?.name }}
  </h2>
  <p [innerHTML]="md(note?.note)">
  </p>
</div>
<div *ngIf="editingNote">
  <form>
  <div class="row">
    <div class="input-field col s8">
      <input id="notebookId" name="notebookId" type="hidden" [(ngModel)]="note.notebookId">
      <input id="name" name="name" type="text" class="validate" [(ngModel)]="note.name">
    </div>
    <div class="input-field col s4">
      <a (click)="saveNote(note)" class="waves-effect waves-light btn"><i class="material-icons">save</i></a>
      <a (click)="deleteNote(note)" class="waves-effect waves-light btn"><i class="material-icons">delete</i></a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="note" name="note" class="materialize-textarea" [(ngModel)]="note.note"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
