/*:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
  position: relative;
}*/

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.navbar-fixed {
  position: fixed;
  bottom: 0;
  background-color: #00695c;
}
/*
:host lang-switcher,
:host more {
  position: absolute;
}

:host lang-switcher {
  top: 13px;
  right: 52px;
}

:host more {
  background: url("./assets/svg/more.svg");
  top: 12px;
  right: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  opacity: 0.7;
}

:host more:hover {
  opacity: 1;
}*/
