<div class="collection">
  <a *ngFor="let notebook of notebooks" class="collection-item" [class.active]="currentNotebook === notebook" (click)="select(notebook)">
    <span class="title">{{ notebook?.name }}</span>
    <!-- <span class="badge">1</span> -->
  </a>
</div>

<div>
  <a (click)="showNewNotebook = true;" *ngIf="!showNewNotebook" class="waves-effect waves-light btn"><i class="material-icons">library_books</i></a>
  <input *ngIf="showNewNotebook" id="name" name="name" type="text" class="validate" [(ngModel)]="newbook.name">
  <a *ngIf="showNewNotebook" (click)="save(newbook); showNewNotebook = false;" class="waves-effect waves-light btn"><i class="material-icons">save</i></a>
  <a *ngIf="showNewNotebook" (click)="showNewNotebook = false; newbook.name = ''" class="waves-effect waves-light btn"><i class="material-icons">cancel</i></a>
</div>
