:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.note-list {
  max-height: 100%;
  overflow-y: scroll;
}

.note-list a {
  cursor: pointer;
}

.note-list.bottom-float {
  position: fixed;
  bottom: 0;
  left: 0;
}

.collection {
  padding: 0;
  margin: 0;
}
