<div class="note-list">
  <div class="collection">
    <a class="collection-item" [class.active]="currentNote === note" *ngFor="let note of notes" (click)="select(note)">
      <span class="title">{{ note.name }}</span>
    </a>
  </div>
</div>

<div class="bottom-float">
  <a (click)="add()" class="waves-effect waves-light btn"><i class="material-icons">note_add</i></a>
</div>
